@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "TimesNewRomance";
    font-style: normal;
    font-weight: 400;
    src: local("TimesNewRomance"),
      url("/fonts/TimesNewRomance.ttf") format("truetype");
  }

  @font-face {
    font-family: "Apercu";
    src: url("/asets/fonts/ApercuRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-weight: 300;
  }

  h1 {
    @apply text-3xl;
    /* @apply font-times-new-romance; */
  }

  h2 {
    @apply text-xl;
  }
}

@layer components {
  .desktop-menu {
    @apply inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-lg font-medium text-gray-500 font-times-new-romance hover:border-gray-300 hover:text-gray-700;
  }
  .desktop-active-menu {
    @apply inline-flex items-center border-b-2 border-indigo-500 px-1 pt-1 text-xl font-medium font-times-new-romance text-gray-900;
  }

  .mobile-menu {
    @apply block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700;
  }

  .mobile-active-menu {
    @apply block border-l-4 border-indigo-500 bg-indigo-50 py-2 pl-3 pr-4 text-base font-medium text-indigo-700;
  }

  .sticky-header {
    @apply fixed top-0 left-0 w-full;
  }
}

/* word wrap */
.word-wrap-10 {
  word-break: break-all;
  overflow-wrap: break-word;
  width: 40rem;
}

/* hand shake  */
@keyframes shake-horizontal {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  20% {
    transform: translateX(-px) rotate(-5deg);
  }
  40% {
    transform: translateX(10px) rotate(5deg);
  }
  60% {
    transform: translateX(-10px) rotate(-5deg);
  }
  80% {
    transform: translateX(10px) rotate(5deg);
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}
.hand-icon:hover {
  animation: shake-horizontal 1s infinite;
}

@keyframes blink {
  0% {
    border-color: currentColor;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: currentColor;
  }
}
.animate-typewriter {
  animation: typing 3.5s steps(40, end), blink-caret.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
