@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "TimesNewRomance";
    font-style: normal;
    font-weight: 400;
    src: local("TimesNewRomance"),
      url("/fonts/TimesNewRomance.ttf") format("truetype");
  }

  h1 {
    @apply text-3xl;
    /* @apply font-times-new-romance; */
  }

  h2 {
    @apply text-xl;
  }
}

@layer components {
  .desktop-menu {
    @apply inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 font-times-new-romance hover:border-gray-300 hover:text-gray-700;
  }
  .desktop-active-menu {
    @apply inline-flex items-center border-b-2 border-indigo-500 px-1 pt-1 text-sm font-medium font-times-new-romance text-gray-900;
  }

  .mobile-menu {
    @apply block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700;
  }

  .mobile-active-menu {
    @apply block border-l-4 border-indigo-500 bg-indigo-50 py-2 pl-3 pr-4 text-base font-medium text-indigo-700;
  }
}
